<div class="container">
  <h1>Pubmed Search</h1>
  <div class="row">
    <div class="col-md-12">
      <form class="form-inline" id="search-form">
        <div class="form-group">
          <label for="search" class="control-label">Search:</label>
          <input type="text" class="form-control" id="search" autocomplete="off">
        </div>
      </form>
    </div>
  </div>
</div>