<div class="container">
  <h1>Pubmed Search</h1>
  <div class="row">
    <div class="col-md-12">
      <form class="form-inline" id="search-form">
        <div class="form-group">
          <label for="search" class="control-label">Search:</label>
          <input type="text" class="form-control" id="search" autocomplete="off">
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="search-status" tabindex="-1" role="dialog" aria-labelledby="search-status-label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="search-status-label">Search Results Status</h4>
      </div>
      <div class="modal-body">
        <div class="loading" style="display: none;">
          <img src="assets/loading_spinner.gif" width="100">
        </div>
        <div class="search-results" style="display: none;">
          <a href="#" class="search-results-download" target="_blank">Download Search Results</a>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>